@import 'config';

body {
    background-color: $third-color;
    display: flex;
    justify-content: center;
}
.mainBox {
    height: 100vh;
    width: 100%;
    border: 2px solid hotpink;

    &__callToAction {
        
    }

}